/* Nav Bar */
.header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 100;
    height: 80px;
    font-size: 24px;
    padding: 10px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.header_collapsed {
    height: 54px;
    font-size: 24px;
    padding: 10px 25px 10px 25px;
}

#logo {
    height: 70%;
    position: absolute;
    left: 25px;
}

#teaching_logo {
    height: 70%;
    position: absolute;
    right: 25px;
}

.header .items li, .header .items li a {
    color: #2C7BBE;
    display: inline;
    font-weight: 600;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    padding: 10px;
    font-size: 20px;
}

.header .items li:hover, .header .items li a:hover {
    font-weight: 700;
    text-decoration: none;
}

.header_collapsed .items li {
    font-size: 18px;
}

@media (max-width: 768px) {
    .header #menu {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        padding: 5px 0px 0px 0px;
        left: 0px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    
    .header .items {
        padding: 0px;
        margin: 0px;
    }
    
    .header .items li {
        color: #2C7BBE;
        display: block;
        font-size: 18px;
        text-align: center;
        border-top: solid;
        border-width: 1px;
    }
    
    .header {
        height: 54px;
        font-size: 24px;
        padding: 10px 25px 10px 25px;
    }
    
    .menu_control {
        color: #2C7BBE;
        height: 70%;
        position: absolute;
        right: 15px;
        top: 20%;
        cursor: pointer;
    }
    
    #teaching_logo {
        right: 50px;
    }
    
    #menu_burger {
        display: block;
    }
    
    #menu_close {
        display: none;
    }
}

@media (min-width: 769px) {
    #menu_burger {
        display: none;
        position: absolute;
        right: -50px;
    }
    
    #menu_close {
        display: none;
        position: absolute;
        right: -50px;
    }
    
    .header #menu {
        position: absolute;
        display: block;
        right: 210px;
        top: 25%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

    .header_collapsed #menu {
        position: absolute;
        display: block;
        right: 140px;
        top: 10%;
    }
}

@media (min-width: 992px) {
    .header #menu {
        right: 200px;
    }
    
    .header_collapsed #menu {
        right: 150px;
    }
}

/* Banner Image */

#banner {
    background-image: url('../images/chemistry-bl.jpg');
    background-repeat: no-repeat, no-repeat;
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 0px;
}

.sub_banner {
    padding: 30px;
}

#banner_logo {
    width: 45%;
}

#sub_banner_logo {
    width: 35%;
}

@media (min-width: 769px) {
    #banner_logo, #sub_banner_logo {
        margin-top: 34px;
    }
}

/* Title Bar */

#title_wrapper {
    padding: 25px;
    text-align: center;
}

.title_one {
    background-color: #48a890;
    color: #fff;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.title_two {
    background-color: #2c7bbe;
    color: #fff;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.title_three {
    background-color: #fff;
    color: #2c7bbe;
}

#title_wrapper p {
    margin-bottom: 0px;
}

#title {
    font-weight: 550;
    font-size: 3em;
}

#sub-title {
    font-weight: 450;
    font-size: 3em;
}

@media (max-width: 769px) {
    #title {
        font-size: 2em;
    }
    #sub-title {
        font-size: 1.5em;
    }
}

/* Breadcrumbs */

.breadcrumb-item a {
    color: #2C7BBE;
}

/* Main Body Content */

#content {
    padding-top: 54px;
}

.text .container {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.text p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 0px;
}

.text_two h4, .text_three h4 {
    color: #2C7BBE;
    font-weight: 700;
}

.text_two h5, .text_three h5 {
    color: #2C7BBE;
    font-weight: 500;
}

/*
.text img {
    width: 100%;
    border-radius: 5px;
}*/

a, a:hover, a:active {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    font-weight: 700;
}

a.link_two, a.link_two:hover, a.link_three, a.link_three:hover {
    color: #2C7BBE;
}

/* Horizontal Rule */

.break {
    width: 50%;
    border-style: solid;
    border-color: darkgray;
}

/* Link Button */

.link_button {
    color: mintcream;
    font-weight: 400;
    border-style: solid;
    border-color: mintcream;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px 25px 10px 25px;
}

.link_button:hover {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border-width: 4px;
    box-shadow: inset 0 0 0 3000px rgba(0,0,0,0.3);
}

/* Image Link Grid */
.links {
    padding: 16px 25px 16px 25px;
    text-align: center;
    margin-top: 0px;
}

.link_wrapper {
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 5px;
    padding: 0px;
    margin-top: 20px;
}
.link_wrapper .img_holder {
    width: 100%;
    border-radius: 5px;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-filter: grayscale(0.6);
    filter: grayscale(0.6);
}
.link_wrapper:hover .img_holder {
    transform: scale(1.2);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.links_one .link_wrapper:hover .img_label a {
    box-shadow: inset 0 0 0 3000px rgba(44,123,190,0.7);
}
.links_two .link_wrapper:hover .img_label a {
    box-shadow: inset 0 0 0 3000px rgba(72,168,144,0.8);
}

.img_label {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0%;
    width: 100%;
}
.img_label a {
    color: mintcream;
    padding: 7px 40px 7px 40px;
    border-color: mintcream;
    font-weight: 400;
}
.links_one .img_label a {
    box-shadow: inset 0 0 0 3000px rgba(72,168,144,0.8);
}
.links_two .img_label a {
    box-shadow: inset 0 0 0 3000px rgba(44,123,190,0.7);
}
.img_label a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border-color: #fff;
    box-shadow: inset 0 0 0 3000px rgba(44,123,190,0.7);
    border-width: 3px;
}
.links_one .img_label a:hover {
    box-shadow: inset 0 0 0 3000px rgba(44,123,190,0.7);
}
.links_two .img_label a:hover {
    box-shadow: inset 0 0 0 3000px rgba(72,168,144,0.8);
}

/* Static Image Grid */

.static_image_link img {
    height: 120px;
    margin-bottom: 15px;
}

.static_image_link span {
    font-size: 18px;
}

/* Footer */
.footer {
    padding: 25px;
    color: mintcream;
    text-align: center;
}
.footer p {
    margin-bottom: 0px;
}
.footer a {
    color: mintcream;
    font-weight: 400;
}
#upper_footer {
    padding: 37px;
    margin-top: 20px;
}
#upper_footer.footer_one {
    background-color: #94d1c2;
}
#upper_footer.footer_two, #upper_footer.footer_three {
    background-color: #95BEDE;
}


#lower_footer {
    font-size: 14px;
}
#lower_footer.footer_one {
    background-color: #6bc0ab;
}
#lower_footer.footer_two, #lower_footer.footer_three {
    background-color: #609CCE;
}